{
  "enabled": true,
  "mikrotikUrl": "https://192.168.88.1",
  "mikrotikUsername": "admin",
  "mikrotikPassword": "",
  "useTtlAsTimeout": true,
  "defaultTimeout": "00:05:00",
  "enableIPv6": false,
  "waitForMikrotik": false,
  "skipCertificateCheck": true,
  "domainLists": {
    "youtube": [
      "youtube.com",
      "googlevideo.com"
    ],
    "social": [
      "facebook.com",
      "instagram.com"
    ]
  }
}
